#include <pgmspace.h>
 
#define SECRET
 
const char WIFI_SSID[] = "your-wifi-ssid"; // wifi name
const char WIFI_PASSWORD[] = "your-wifi-password"; // wifi pass
 
#define THINGNAME "ESP8266"
 
int8_t TIME_ZONE = -3;
 
const char MQTT_HOST[] = "your-iot-endpoint.iot.us-east-1.amazonaws.com";
 
 
static const char cacert[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----

-----END CERTIFICATE-----
)EOF";
 
 
// content from XXXXXXXX-certificate.pem.crt
static const char client_cert[] PROGMEM = R"KEY(
-----BEGIN CERTIFICATE-----

-----END CERTIFICATE-----
)KEY";
 
 
// content from  XXXXXXXX-private.pem.key
static const char privkey[] PROGMEM = R"KEY(
-----BEGIN RSA PRIVATE KEY-----

-----END RSA PRIVATE KEY-----
)KEY";